In [1]:
import numpy as np
import pandas as pd

In [2]:
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [3]:
#Read the csv file
df2 = pd.read_csv('tmdb.csv', usecols=['genres', 'id', 'release_date', 'original_language', 'original_title', 'title', 'cast', 'director'])

In [4]:
df2.head()

,genres,id,original_language,original_title,release_date,title,cast,director
0,"['action', 'adventure', 'fantasy']",19995,en,Avatar,2009-12-10,Avatar,"['samworthington', 'zoesaldana', 'sigourneywea...",jamescameron
1,"['adventure', 'fantasy', 'action']",285,en,Pirates of the Caribbean: At World's End,2007-05-19,Pirates of the Caribbean: At World's End,"['johnnydepp', 'orlandobloom', 'keiraknightley']",goreverbinski
2,"['action', 'adventure', 'crime']",206647,en,Spectre,2015-10-26,Spectre,"['danielcraig', 'christophwaltz', 'léaseydoux']",sammendes
3,"['action', 'crime', 'drama']",49026,en,The Dark Knight Rises,2012-07-16,The Dark Knight Rises,"['christianbale', 'michaelcaine', 'garyoldman']",christophernolan
4,"['action', 'adventure', 'sciencefiction']",49529,en,John Carter,2012-03-07,John Carter,"['taylorkitsch', 'lynncollins', 'samanthamorton']",andrewstanton

In [5]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [6]:
count = CountVectorizer()
count_matrix = count.fit_transform(df2['genres'])

In [7]:
indices = pd.Series(df2.index, index=df2['title']).drop_duplicates()
all_titles = [df2['title'][i] for i in range(len(df2['title']))]

In [8]:
def get_recommendations(title):
    cosine_sim = cosine_similarity(count_matrix, count_matrix)
    idx = indices[title]
    sim_scores = list(enumerate(cosine_sim[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:11]
    movie_indices = [i[0] for i in sim_scores]
    tit = df2['title'].iloc[movie_indices]
    dat = df2['release_date'].iloc[movie_indices]
    return_df = pd.DataFrame(columns=['Title','Year'])
    return_df['Title'] = tit
    return_df['Year'] = dat
    print(return_df)

In [9]:
user_movie_name = input('Enter the movie name: ')
get_recommendations(user_movie_name)

Enter the movie name: Spider-Man 3
                                          Title        Year
1      Pirates of the Caribbean: At World's End  2007-05-19
5                                  Spider-Man 3  2007-05-01
9            Batman v Superman: Dawn of Justice  2016-03-23
10                             Superman Returns  2006-06-28
12   Pirates of the Caribbean: Dead Man's Chest  2006-06-20
14                                 Man of Steel  2013-06-12
17  Pirates of the Caribbean: On Stranger Tides  2011-05-14
19    The Hobbit: The Battle of the Five Armies  2014-12-10
20                       The Amazing Spider-Man  2012-06-27
30                                 Spider-Man 2  2004-06-25